body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.siteBox{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.siteBox1{
  display: flex;
  justify-content: center;
  align-items: center;

  position: static;
  height: 70%;
  width: 100%;
  left: 0px;
  top: 0px;
}

/*login*/

.errBox1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 12px;

  position: static;
  width: 230px;


  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: regular;
  font-size: 16px;

  color: #000000;

  margin-top: 24px;
}

.loginBox1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;

  flex: none;
}

.loginBox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;

  position: static;
  width: 480px;
  height: 332px;
  left: 0px;
  top: 63px;

  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.loginBox3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 432px;
  height: 188px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}

.loginBox4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 107px;
  height: 56px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  background: #000000;
  border-radius: 3px;

  flex: none;
  order: 1;
  flex-grow: 0;
  float: right;

  border: none;
}

.loginBox5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;

  flex: none;
  margin-bottom: 20px;
}

.loginBox6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 432px;
  height: 56px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.loginHeader {
  position: static;
  width: 151px;
  height: 39px;
  left: 0px;
  top: 0px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;

  color: #000000;

  flex: none;
  margin-top: 0px;
  margin-bottom: 24px;
}

.loginLabel {
  position: static;
  height: 20px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 8px;
}

/*login-menu*/

.menuBox1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;

  position: static;
  width: 100%;
  height: 96px;

  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.menuBox2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  position: static;
  height: 56px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.menuBox3 {
  display: flex;
  flex-direction: row;

  position: static;
  height: 56px;

  flex: none;
  order: 2;
  flex-grow: 0;
}

.menuBox4 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 4px;

  position: static;
  height: 56px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.menuButton {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  justify-content: center;

  position: static;
  width: 132px;
  height: 56px;
  left: 456px;
  top: 0px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;

  flex: none;
  flex-grow: 0;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #000000;
  margin-left: 20px;
}

.menuButtonBlack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  justify-content: center;

  position: static;
  width: 132px;
  height: 56px;
  left: 456px;
  top: 0px;

  background: #000000;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;

  flex: none;
  flex-grow: 0;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;
  margin-left: 20px;
}

.order1 {
  order: 1;
}

.order2 {
  order: 2;
}

.order3 {
  order: 3;
}

.order4 {
  order: 4;
}

.menuHeader {
  position: static;
  width: 133px;
  height: 39px;
  left: 40px;
  top: 28.5px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.menuUser {
  position: static;
  height: 24px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.menuLabel {
  position: static;
  height: 20px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 4px;
}

span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

/*menu*/
