
.siteBox{
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}

.loginBox1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;

  flex: none;
}

.loginBox2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 24px;

  position: static;
  width: 480px;
  height: 332px;
  left: 0px;
  top: 63px;

  background: rgba(0, 0, 0, 0.05);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.loginBox3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: 432px;
  height: 188px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}

.loginBox4 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 107px;
  height: 56px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #FFFFFF;

  background: #000000;
  border-radius: 3px;

  flex: none;
  order: 1;
  flex-grow: 0;
  float: right;

  border: none;
}

.loginBox5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;

  flex: none;
  margin-bottom: 20px;
}

.loginBox6 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;

  position: static;
  width: 432px;
  height: 56px;

  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 3px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: regular;
  font-size: 20px;
  line-height: 24px;

  color: #000000;
}

.loginHeader {
  position: static;
  width: 151px;
  height: 39px;
  left: 0px;
  top: 0px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;

  color: #000000;

  flex: none;
  margin-top: 0px;
  margin-bottom: 24px;
}

.loginLabel {
  position: static;
  width: 140px;
  height: 20px;

  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: medium;
  font-size: 16px;
  line-height: 20px;

  color: #000000;

  margin-bottom: 8px;
}
